<section class="section">
  <div class="container">
    <div class="columns">
        <%= render 'feed' %>
        <% if user_signed_in? %>
          <%= render 'profile' %>
        <% else %>
          <%= render 'trends' %>
        <% end %>
    </div>
  </div>
</section>
