<div class="column is-three-fifths is-offset-one-fifth">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <% if current_user.avatar_shot!='' && Uploadable.count==0 %>
          <image src="<%= @tweet.user.avatar_shot %>" alt="">
        <% elsif current_user.avatar.attached? %>
          <image src="<%= url_for(current_user.avatar) %>">
        <% else %>
          <img src="https://bulma.io/images/placeholders/64x64.png">
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <%= render 'tweets/form' %>

    </div>
  </article>
  <div class="field">
    <%= link_to root_path do %>
      <button class="button is-info">Back</button>
    <% end %>
  </div>
</div>
